* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: #141d2f;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 50px;
}

main{
	display: flex;
	flex-direction: column;
	align-items: center;
}

label{
	background-color: #fff;
	border-radius: 50px;
	padding: 5px 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

#InputSearchUser{
	color: black;
	padding: 20px 50px 20px 5px;
	border: none;
}

#BtnValide{
	border: none;
	color: #141d2f;
	cursor: pointer;
	
}

.lienLoc{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#infoLocLink{
	display: flex;
	flex-direction: row;
}

