* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: white;
}

body {
	background-color: #141d2f;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.themeColor {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#InputSearchUser{
	color: black;
}

.lienLoc{
	display: flex;
	flex-direction: row;
	gap: 20px;
}

#infoLocLink{
	display: flex;
	flex-direction: row;
}